/*
CSS Reset
http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #323840;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
h1 {
  /*text-transform: uppercase;*/
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: #f5f6fa;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 0.5px;
  margin: 20px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  /*text-transform: uppercase;*/
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #005544;
  border-color: #005544;
}

@media only screen and (max-width: 2000px) {
  h1 {
    font-size: 70px;
  }
  h1::after {
    height: 1px;
  }
}



@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
  h1::after {
    height: 1px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 1px;
  }
}

@media only screen and (max-width: 568px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 1px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 1px;
  }
}

#mybody {

  background: #151617;
}

/*#mob {
  color: #f5f6fa;
}*/

#mob {
    color:#f5f6fa;
    background-color: transparent;
    border-color:#f5f6fa;
    font-size: 18px; 
    font-family: 'Ubuntu', sans-serif;/*set the color you want here*/
    padding: 12px 20px;
}

#mob:hover {
    color:#353b48;
    background-color: #f5f6fa;
    border-color:#f5f6fa; /*set the color you want here*/
}

#portfolio {
  color: #fff;
}

#hi {
  color: #dfe6e9;
}

#sabuj {
  color: #fff;
  /*font-size: 20px;*/
}

#iam {
  padding: 10px;
  color: #fbc531;
  font-weight: bolder;
  margin: 10px;
}

#fullsite {
  color: #fff;
  font-weight: lighter;


}

#here {
  color:#fbc531;
  /*text-decoration: underline;*/
}
 /*fehjkgewkjfgewkfg*/

 /*body{
  background: #e6e6e6;
  font-family: "Helvetica", "Arial";
  padding-top: 100px;
  text-align: center;
}*/

/*SOCIAL MEDIA FOOTERS*/


#cp{
  /*background: #fbc531;*/
  color: #222;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 2px;
  padding-top: 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  border-color: #4cd137;
} 


a.icon:before{
  font-family: "Font Awesome 5 Brands", sans-serif;
  color: #fff;
  font-size: 20px;
  zoom: 1.5;
  -moz-box-sizing: border-box;
}
a.facebook:before{
  content: '\f39e';
  /*color: #4cd137;*/
   
}
a.twitter:before{
  content: '\f099';
}

a.instagram:before{
  content: '\f16d';
}
a.github:before{
  content: '\f113';
}

a.linkedin:before{
  content: '\f0e1';
}

a.medium:before{
  content: '\f3c7';
}

a.quora:before{
  content: '\f2c4';
}


/*a.quora:before{
  content: '\f2c4';
}*/
/*a.dribble:before{
  content: '\f17d';
}
a.pinterest:before{
  content: '\f0d2';

}*/

a span{
  background: #fff;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}
a span:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}
a:hover span{
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

/* hover over the icons now to see the tooltips! */

a.facebook:hover{
  background-color: #4183d7;
  color: #bfbfbf;
}
a.facebook span{
  color: #4183d7;
}

a.twitter:hover{
  background-color: #19b5fe;
  color: #fff;
}
a.twitter span{
  color: #19b5fe;
}

a.instagram:hover{
  /*background-color: #19b5fe;*/
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: #fff;
}
a.instagram span{
  color: #d6249f;
  /*background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);*/
}
a.github:hover{
  background-color: #000;
  color: #fff;
}
a.github span{
  color: #000;
}

a.linkedin:hover{
  background-color: #0077B5;
  color: #fff;
}
a.linkedin span{
  color:#0077B5;
}

a.medium:hover{
  background-color: #3cb371;
  color: #fff;
}
a.medium span{
  color: #3cb371;
}

a.quora:hover{
  background-color: #AA2200;
  color: #fff;
}
a.quora span{
  color: #AA2200;
}


/*a.quora:hover{
  background-color: #5a9eb1;
  color: #fff;
}
a.quora span{
  color:#5a9eb1;
}*/



/*a.dribble:hover{
  background-color: #f62459;
  color: #fff;
}
a.dribble span{
  color: #f62459;
}
a.pinterest:hover{
  background-color: #f22613;
  color: #ff;
}
a.pinterest span{
  color: #f22613;
}*//*/